NODE_ENV=
BASE_URL=
CLIENT_URL=
PORT= 
MONGO_PROTOCOL=
MONGO_HOST=
MONGO_PORT=
MONGO_DATABASE_NAME=
EMAIL_USER=
EMAIL_PASS=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
SESSION_SECRET=
ZARINPAL_MERCHANT_ID=
REDIS_URL=